
.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(203, 203, 203);

    form{
        background: rgb(255, 255, 255);
        position: fixed;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);

      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      border-radius: 2rem;

      input{
        width: 200px;
        height: 30px;
        margin: 10px;
      }

      button{
        width: 200px;
        height: 30px;
        border: none;
        background-color: purple;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }

      span{
        font-size: 12px;
        color: red;
        margin-top: 10px;
      }
    }
}