.LaRistraBack {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: url("https://firebasestorage.googleapis.com/v0/b/brycengabaldon-41bc3.appspot.com/o/IMG_7377.JPG?alt=media&token=aafa5a7a-30d3-485a-9dd6-ad18404f108f");
  background-size: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.HeaderLogo {
  height: 25px;
  background-position: center;
  aspect-ratio: 1/1;
  box-shadow: 50px, 50px, 50px, black;
  max-height: 10rem;

  background: url("https://firebasestorage.googleapis.com/v0/b/brycengabaldon-41bc3.appspot.com/o/207432691_5746020535440191_3198068188816278373_n.png?alt=media&token=506ada26-889b-4188-9b63-9bbf3136abac");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 0;

}
.NewMexicanKitchen {
  width: 100vw;
  aspect-ratio: 2.5/1;
  max-height: 45vh;
  min-height: 15vh;
  background-position-y: 500px;
position: relative;
top: -10vh;
z-index: 1000;
  background: url("https://firebasestorage.googleapis.com/v0/b/brycengabaldon-41bc3.appspot.com/o/IMG_7378%202.JPG?alt=media&token=33302c95-a766-4a34-ba1d-a9a311148cfd");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 50px black;
  border: 1px solid black;
}
.LogoBack {
  border-top: 3px solid rgb(102, 17, 17);
  border-bottom: 3px solid rgb(108, 108, 108);
  background: linear-gradient(
    30deg,
    rgb(94, 12, 12),
    rgb(167, 10, 10),
    rgb(56, 5, 5)
  );
  height: 20px;
  width: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 50px inset black;
}
.KitchenBack {
  width: 100vw;
  height: 30vmin;
  max-height: 30vmin;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
  position: relative;
  top: 18%;
}

.RistraButtonContainer0 {
  border-top: 3px solid rgb(102, 17, 17);
  border-bottom: 3px solid rgb(108, 108, 108);
  background: linear-gradient(
    30deg,
    rgb(94, 12, 12),
    rgb(167, 10, 10),
    rgb(56, 5, 5)
  );
  height: 60%;
position: inherit;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-top: 10%;
padding-bottom: 10%;
  box-shadow: 0px 0px 50px inset black;
}

.RistraButton {
  height: 35%;
  width: 400px;
  background: white;
position: relative;


  box-shadow: 0px 0px 20px inset black;
}
.RistraButtonContainer0 {
  position: relative;
  height: 70%;
  width: 100vw;

}

.RistraButtonContainer2 {
position: relative;
  width: 100vw;
float: right;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
left: -30px;
bottom: -30px;

}
.RistraButtonContainer1 {
position: relative;
  width: 100vw;
left: -30px;
bottom: -30px;

display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;

}


