.App {
  height: 100vh;
  width: 100vw;
}
.Inner {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.Outer {
  position: fixed;
  top: 1rem;
  left: 1rem;
  bottom: 3rem;
  right: 1rem;
  border: 5px solid black;
  border-radius: 3rem;
  overflow: hidden;
  visibility: visible;
  scale: 1;
  transition: scale 0.3s linear;
  z-index: 1000;
}

.Overlay3 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
opacity: 1;
backdrop-filter: blur(2rem);
transition: all .5s;

  z-index: 150;
}
.Overlay31 {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
transition: all .5s;
opacity: 0;
backdrop-filter: blur(2rem);

  z-index: 10;
}

.Button {
  z-index: 1000;
  height: 2rem;
  width: 20rem;
  background: rgb(152, 152, 152);
  border: 0.2rem solid black;
  text-align: center;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 2rem;
  margin-top: 1rem;
  padding-top: 0.75rem;
  font-weight: bold;
}
.modalPadding {
  position: sticky;
  padding: 1rem;
  padding-top: 1.5rem;
  min-width: 15rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: rgb(227, 227, 227);
}
h1 {
  background: black;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: 200;
}

p {
  font-size: 15px;
  font-weight: 600;
}
h2 {
  background: rgb(204, 204, 204);
  color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 2rem;
  border: 0.1rem solid black;
}

.curator-feed-default-feed-layout {
  align-self: center;
  justify-self: center;
  overflow-y: hidden;
  border-radius: 2rem;
}

.Instagram2 {
  position: absolute;
  top: 2rem;
  left: 1rem;
  right: 1rem;
  bottom: 4rem;
  overflow-y: scroll;
  padding: 1rem;
  border-radius: 2rem;
}

.DiscordView {
  height: 100vh;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.GitGraph {
  height: 20%;
  width: 100%;
  object-fit: contain;
}

.GithubView {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  p {
    background: white;
    padding: 1rem;
    border-radius: 2rem;
    border: 0.1rem solid black;
    font-family: "Courier New", Courier, monospace;
  }
  .GitBtn {
    height: fit-content;
    width: fit-content;
    align-self: center;
    border: 0.2rem solid rgb(255, 255, 255);
    font-size: 10rem;
    color: rgb(91, 91, 91);
    background: black;
    padding: 2rem;
    border-radius: 50%;
  }
}
.ImagesApp {
  padding-top: 0.75rem;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.gitListContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3vmin;
  align-self: center;
}
.gitList {
  background: white;
  font-size: 5vmin;
  font-family: italiana;
  text-align: left;
  padding: 12vmin;

  min-width: 20rem;
  border: 2px solid black;
}

.floatLeft {
  width: 100%;
  height: 100%;
  float: left;
  font-family: "Encode Sans Expanded", sans-serif;
  font-size: 5vmin;
}

.Odd {
  width: 100%;
  float: left;
  background: white;
  border-radius: 0.5rem;
  font-family: "Encode Sans Expanded", sans-serif;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(66, 66, 66, 0.668);
}

.MainText {
  width: 50%;
  min-width: 200px;
  float: left;
  overflow: hidden;
  overflow-wrap: break-word;
  font-weight: bold;
  font-size: 1vmin;
}
.floatRight {
  width: 40%;
  min-width: 220px;
  float: right;
  background: linear-gradient(
    40deg,
    rgb(161, 169, 174),
    rgb(255, 255, 249),
    rgb(74, 74, 74)
  );
  padding: 1%;
  border-radius: 0.5rem;
  border: 1px solid black;
  height: 100%;
  font-family: "Encode Sans Expanded", sans-serif;
  box-shadow: 5px 5px 5px rgba(66, 66, 66, 0.668);
}
@media only screen and (max-width: 1000px) {
  .floatRight {
    width: 100%;
    min-width: 220px;
  
  }
  .gitList {
    width: 100%;
  }
  .MainText {
    width: 100%;
    min-width: 200px;
    float: left;
    overflow: hidden;
    overflow-wrap: break-word;

    font-weight: bold;
    font-family: "Encode Sans Expanded", sans-serif;
  }
  .ContactHeading {
    width: 100%;
  
  }
  .ResumeHeading {
    height: 100vmin;
  }
}
.BrycenHeading {
  font-size: 6vmin;
  font-family: italiana;
  width: 100%;
  text-align: center;
  line-height: 6vmin;
  margin-top: 1vmin;
  font-weight: bolder;

  float: left;
}
.ResumeHeading {
  border-radius: 0.5rem;
  background: linear-gradient(
    40deg,
    rgb(161, 169, 174),
    rgb(255, 255, 249),
    rgb(74, 74, 74)
  );
  color: black;
  border: 1px solid black;
  height: 35vmin;
  font-family: "Encode Sans Expanded", sans-serif;

  width: 80%;
  z-index: 1000;

  margin-left: 10%;
  box-shadow: 5px 5px 5px rgba(66, 66, 66, 0.668);
}
.lotusTextArea {
  background: rgb(206, 206, 206);
  height: 100%;
  width: 80%;
  font-size: 1rem;
  padding: 1rem;
  font-family: "Encode Sans Expanded", sans-serif;
  color: rgb(25, 25, 100);
}
.ContactHeading {
  min-width: 60%;
  height: 30%;
  line-height: 3vmin;
  font-size: 2vmin;
  font-weight: bold;
  font-family: roboto;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Encode Sans Expanded", sans-serif;
}
.modalPadding {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  border: 2px solid black;

  z-index: 1000;
  span {
    color: rgb(10, 25, 150);
    font-size: 2.5vmin;
    font-family: italiana;
  }
}

.Mission {
  border: 0;
  background: none;
  border-radius: 0.5rem;
  text-align: center;

  margin-top: -1.5rem;
  color: rgb(0, 0, 0);
}
.Mission2 {
  font-weight: 600;
  font-size: 2vmin;
}
.oltags {
  float: left;

  list-style: disc;
}
.oltags2 {
  float: left;

  list-style: disc;
}
.oltags3 {
  float: left;

  list-style: disc;
}
.profileBackground{ 
  display: flex;
  flex-direction: column;
}
.profileFormList {
  background: rgb(240, 240, 240);

  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.profileFormItem {
  display: flex;
  align-self: center;
  background: rgb(255, 255, 255);
  width: 90%;
  margin: 2%;
  height: 50px;
  padding: 5px;
  border-radius: .5rem;
  box-shadow: 5px 5px 10px rgba(66, 66, 66, 0.668);
}
.profileFormItem:focus {

  box-shadow: 5px 5px 20px rgba(68, 71, 246, 0.668);
}

.profileSubmitButton{
  background: rgb(196, 211, 255);
  color: rgb(0, 0, 0);
  font-weight: 900;
  width: 90%;
  margin: 2%;
  height: 50px;
  padding: 5px;
  border-radius: .5rem;
  box-shadow: 5px 5px 10px rgba(66, 66, 66, 0.668);
  transition: all .6s;
}
.profileSubmitButton:Hover{
transition: all .6s;
background: rgb(0, 238, 255);
color: rgb(0, 0, 0);
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
}
.profileSubmitButton2{
  background: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  font-weight: 900;
  width: 90%;
  margin: 2%;
  height: 50px;
  padding: 5px;
  border-radius: .5rem;
  box-shadow: 5px 5px 10px rgba(66, 66, 66, 0.668);
  transition: all .6s;
}
.ProContainerBack{
  background: black;
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
height: 100vh;
width: 100vw;
z-index: 550;

  font-size: 50px;
  color: white;
  font-weight: 900;
  overflow-y: scroll;
}
.profileContainers{
  height: 250px;
  width: 100%;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  background: rgb(25, 25, 25);
  margin-top: 2rem;

  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.profileContainers2{
  height: 75px;
  width: 100vw;
  font-size: 7vmin;
padding-left: 5%;
align-items: center;
text-align: right;
display: flex;
  border-bottom: 1px solid darkgray;
  background: rgb(25, 25, 25);
cursor: pointer;
}


.ImgDivPro{
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  flex-direction: column;
}
.OverviewBack{
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  color: yellow;
  
}