.Apppp {
    text-align: center;
    height: 90vmin;
    max-height: 700px;
    min-height: 400px;
    width: 70vmin;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: lightgray;
    z-index: 1000;
    padding: 1rem;
    border-radius: 5vmin;
    font-family: italiana;
    font-weight: bolder;
    font-size: 3vmin;
  }
.formData {
    margin: .5vmin;
    height: 5vmin;
    width: 25vmin;
    padding: 1vmin;
    border-radius: 1vmin;
}

.loginButton {
background: rgb(50, 170, 255);
padding: 1vmin;
border-radius: .3vmin;
width: 60vmin;
margin: 2vmin;
font-family: italiana;
font-weight: bolder;
}
.loginButtonOut {
    background: black;
    padding: 1vmin;
    border-radius: .3rem;
    width: 30vmin;
    margin: 1vmin;
    color: white

    }
    .loginOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
    }
    .loginH3 {
        font-size: 4vmin;
        font-weight: bolder;
    }