.Apppp {
    text-align: center;
    height: 70vmin;
    width: 70vmin;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: lightgray;
    z-index: 1000;
    padding: 1rem;
    border-radius: 2rem;
    font-family: italiana;
    font-weight: bolder;
  }
.formData {
    margin: .5rem;
    height: 5vmin;
    width: 30vmin;
    padding: 1vmin;
    border-radius: 1rem;
}

.loginButton {
background: rgb(50, 170, 255);
padding: 1vmin;
border-radius: .3rem;
width: 60vmin;
margin: 3vmin;
font-family: italiana;
font-weight: bolder;
}
.loginButtonOut {
    background: black;
    padding: 1vmin;
    border-radius: .3rem;
    width: 60vmin;
    margin: 3vmin;
    color: white

    }
    .loginOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
    }