root{
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.A1 {
  position: fixed;
height: 100vh;
width: 100vw;
top:0;
left:0;
right:0;
bottom:0;
background-image: url("./Lotus.jpg");
background-size: contain;
display: flex;
flex-direction: column;
z-index: 100;
padding-bottom: 2rem;

}



.CardInner {
  width: 100%;
  height:100%;
  z-index: 100;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
backdrop-filter: blur(.25rem);
}
.CardContainer {
  height:100%;
  width: 100%;
  background: rgba(58, 58, 58, 0);
align-self: center;
justify-items: center;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
padding-left: 1rem;
padding-right: 1rem;

}
.CardOuter {
height: 47%;
width: 47%;

display: flex;
border-radius: 1rem;
justify-content:space-around;
padding: .21rem;

align-self: center;


}
.CardInner:hover{
  .Services{
    background: rgba(255, 255, 255, 0);

  }
  .Contact{
    background: rgba(255, 255, 255, 0);

  }
  .Reviews{
    background: rgba(255, 255, 255, 0);

  }
  .About{
    background: rgba(255, 255, 255, 0);

  
  }
  .CardContents{
    color: rgb(1, 1, 1);
    display: block;
  }
  .Title{
    display: none;
  }
}

.CardContents{
display: flex;
white-space: pre-wrap;

padding: .5rem;
color: black;
z-index: 1000;
height: fit-content;

font-weight: bold;
font-size: medium;
display: none;





}
.CenterLogo{

height: 2rem;


}
.logoHolder{
  text-align: center;
border: .2rem solid rgb(180, 165, 129);
display: flex;
flex-direction: row;
align-content: center;
font-size: 2rem;
font-family: cursive;
width: 100%;
backdrop-filter: blur(.5rem);
color: rgb(1, 0, 0);


}
@media only screen and (min-width: 800px) {
  .CenterLogo {   }

  .logoHolder{


  }
}

@media only screen and (max-width: 800px) {
.CardContents{
  font-weight: bold;
font-size: x-small;
}

.CardContainer{
  flex-direction: column;
  
}

.CardOuter{
  height: 23%;
  width: 100%;
  margin: .2rem;

  align-content: space-between ;
}

  }

  
 
  .About {
    background-image: url("../../public/house-cleaning-services.jpeg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;

  }
  .Services {
    background-image: url("../../public/House-Cleaner-Services.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
  }
  .Contact {
    background-image: url("./Cleaning-supplies.webp");

    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    white-space: pre-wrap;
  }
  .Reviews {
    background-image: url("./house-cleaning-solutions-4-p082mkmysutujpi8xstminy1ovwx2c2z2sn8ba7tj4.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;

  }

  .A3 {
    display: none;
  }
  .A2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.206);
    backdrop-filter: blur(0.5rem);
    padding: 2rem;
    overflow-y: scroll;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  .Title{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    position: absolute;
    top: 50%;
    left:  50%;
    -webkit-transform: translate(-50%, -50%); /* iOS */
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
  
  }