root{
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.cards{
  height: 70%;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
}
.A1 {
  position: fixed;
height: 100vh;
width: 100vw;
top:0;
left:0;
right:0;
bottom:0;
background-image: url("./Lotus.jpg");
background-size: contain;
display: flex;
flex-direction: column;
z-index: 100;
padding-bottom: 5rem;




}

.CardContainer {
margin-top: 3rem;
  height:100%;
  width: 100%;
  background: rgba(58, 58, 58, 0);
align-content: center;
justify-items: center;
}
.CardOuter {
height: 47%;
width: 47%;
background: rgba(255, 255, 255, 0.463);
float:left;
border-radius: 2rem;
justify-content:space-around;
border: .2rem solid rgb(233, 214, 167);
display: flex;
border-radius: 2rem;
padding: .5rem;

margin: .5rem;

}
.LeftTop{
  display: flex;
  width: 48%;
  height: 100%;

  border-radius: 1rem;
  

}
.RightBottom {
  display: flex;
  width: 48%;
  height: 100%;
  background: rgba(40, 40, 40, 0.035);
  border-radius: 1rem;
  text-align: center;
justify-items: center;
align-items: center;
  padding: 1rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: small;

}

.CenterLogo{

float: left;
  width: 100vw;
  height: 5rem;
  margin-top: -1rem;
text-align: left;
color: rgb(7, 27, 246);
z-index: 1000;
position: fixed;
font-family: 'Courier New', Courier, monospace;
max-font-size: 2rem;
top: 1rem;
left: 1rem;
backdrop-filter: blur(.5rem);
cursor:grab;

}
.logoHolder{
position: absolute;
display: flex;
flex-direction: row;
align-content: center;
font-size: 5vh;
width: max-content;

color: rgb(1, 0, 0);


}
@media only screen and (min-width: 800px) {
  .CenterLogo {   }

  .logoHolder{


  }
}

@media only screen and (max-width: 800px) {
.CardOuter{
  height: 25%;
  width: 110%;
  margin-left: -2rem;
  align-content: space-between ;
}

.RightBottom {
  width: 48%;
  height: 100%;
}
.LeftTop {
  width: 48%;
  height: 100%;

}
.logoHolder{
  font-size: 5vw;
  top: 10vh;


}
.CenterLogo {
  width: 20rem;
  height: 4rem;
  position: fixed;
  top: -4rem;
  left: 1rem;
 

}

.RightBottom{ font-size: xx-small;}

  }

  
 
  .About {
    background-image: url("../../public/house-cleaning-services.jpeg");
    height: 70%;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;

  }
  .Services {
    background-image: url("../../public/House-Cleaner-Services.jpg");
    height: 70%;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
  }
  .Contact {
    background-image: url("../../public/08ea4c4513e2832c4a09565241007d58.jpg");

    height: 70%;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;
  }
  .Reviews {
    background-image: url("../../public/house-cleaning-in-danbury-ct-06811.png");
    height: 70%;
    width: 100%;
    background-size: contain;
    background-position: center;
    text-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: bold;

  }

  .A3 {
    display: none;
  }
  .A2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.206);
    backdrop-filter: blur(0.5rem);
    padding: 2rem;
    overflow-y: scroll;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }