root{
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.A1 {
  position: fixed;
height: 100vh;
width: 100vw;
top:0;
left:0;
right:0;
bottom:0;
background-image: url("./Lotus.jpg");
background-size: contain;

z-index: 100;
overflow-y: scroll;
}




.CardContainer {
  height:fit-content;
  width: 100%;
  background: rgba(58, 58, 58, 0);
display: flex;
flex-direction: column;


}



.CenterLogo{
height: fit-content;
position: absolute;
top:2rem;
}
.logoHolder{
  text-align: center;
border: .2rem solid rgb(180, 165, 129);
display: flex;
flex-direction: row;
align-content: center;
font-size: 2rem;
font-family: cursive;
width: 100%;
height: fit-content;
backdrop-filter: blur(.5rem);
color: rgb(1, 0, 0);
}

.About{
  background-image: url("./Cleaning-supplies.webp");
  height: 45vh;
  width: 100vw;
  display:block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

  .Services {
    background-image: url("./house-cleaning-in-danbury-ct-06811.png");
    height: 45vh;
    width: 100vw;
    display:block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

 
  }
  .Contact {
    background-image: url("./house-cleaning-services.jpeg");
    height: 45vh;
    width: 100vw;
    display:block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

  }
  .Reviews {
    background-image: url("./house-cleaning-solutions-4-p082mkmysutujpi8xstminy1ovwx2c2z2sn8ba7tj4.jpg");
    height: 55vh;
    width: 100vw;
    display:block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;


  }

  .A3 {
    display: none;
  }
  .A2{
    position: fixed;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.206);
    backdrop-filter: blur(0.5rem);
    padding: 2rem;
    overflow-y: scroll;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  .modalOut1{
position: fixed;
top: 0;
bottom: 0;
right:0;
left:0;
background: rgba(1, 1, 1, 0.099);
z-index: 100;
backdrop-filter: blur(.5rem);
  }





.CardInner {
  width: 100%;
  height:80vh;
  z-index: 100;
  backdrop-filter: blur(.5rem);
  padding-top: 0rem;

}
.CardOuter {
height: 75vh;
width: 100%;
margin-top: 8rem;
}


.Words{
  height: 50vh;

  width: 100vw;
  text-align: center;
  z-index: 1000;

 padding: 2rem;
} 
 .Title{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    font-size: 1.5rem;
    text-align: center;

  }

  @media only screen and (max-width: 600px) {

  }