
.Modal {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    border-radius: 1rem;
    border-bottom: 0.2rem solid black;
  }

  .Services, .ServiceModal {
    background-image: url("../services.jpg");
  }

  .Contact, .ContactModal{
    background-image: url("../finger-pushing-virtual-button.jpg");
  }


  .Book, .Bookmodal {
    background-image: url("../macOS-Graphic-Light.webp");
  }


  .About, .AboutModal{
    background-image: url("../about-us-concept-illustration_114360-639.jpg");
  }
