
.Modal {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    border-radius: 1rem;
    border-bottom: 0.2rem solid black;
    justify-items: center;
    align-items: center;
  }

  .ServiceModal2 {
    padding-top: 1%;
    justify-items: center;

  }

.website {
  color: blue;
  margin: 3rem;
}

.phoneNumber {
  color: white;
  margin: 3rem;
}

.ServiceModal {
  background: linear-gradient(green, black);
  height: 100%;
  width: 100%;
  font-size: 50px;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 3rem;

}

.Mail {
  background: linear-gradient(rgb(50, 50, 142), rgb(113, 179, 200));
  justify-content: center;
  align-content: center;
  padding: 15%;
}
  .Services {

    background: linear-gradient(rgb(76, 207, 76), green);
    justify-content: center;
    align-content: center;
    padding: 15%;
  }

  .Contact, .ContactModal{
    background-image: url("../finger-pushing-virtual-button.jpg");
  }


  .Book, .Bookmodal {
    background-image: url("../macOS-Graphic-Light.webp");
  }


  .About, .AboutModal{
    background-image: url("../about-us-concept-illustration_114360-639.jpg");
  }
