
.ServiceModal {
    height: 95%;
    width: 95%;
    border-radius: 1rem;
  }
  
  .CloseButton {
    background: lightgray;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: 1px solid black;
    position: fixed;
    top: -1rem;
    left: -1rem;
  
  }