
.Modal {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    border-radius: 1rem;
    border-bottom: 0.2rem solid black;
  }

  .Services, .ServiceModal {
    background-image: url("../services.jpg");
  }
  .Contact, .ContactModal{
    background-image: url("../finger-pushing-virtual-button.jpg");
  }
  .Book{
    background-image: url("../concept-event-planning-work-planning-close-up.jpg");
  }
  .BookModal {
    margin-top: 1.5rem;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
  }
  .About, .AboutModal{
    background-image: url("../about-us-concept-illustration_114360-639.jpg");
  }
