.Apppp {
    text-align: center;


    position: fixed;
    top: 2rem;
    bottom: 10rem;
left: 50%;
transform: translate(-50%,0);
max-width: 70vmin;
min-width: 350px;
min-height: fit-content;

    background: lightgray;
    z-index: 1000;
    padding: 1rem;
    border-radius: 5vmin;
    font-family: italiana;
    font-weight: bolder;
    font-size: 3vmin;
  }
.formData {
    margin: 1.2vmin;
    height: 4vmin;
    width: 29vmin;
    padding: 1vmin;
    border-radius: 1vmin;
}

.loginButton {
background: rgb(50, 170, 255);

border-radius: .3vmin;
width: 60vmin;
margin: 2vmin;
height: 8vmin;
max-height: 50px;
line-height: 7vmin;
font-family: italiana;
font-weight: bolder;
}
.loginButtonOut {
    background: black;
    padding: 1vmin;
    border-radius: .3rem;
    width: 30vmin;
    margin: 1vmin;
    color: white;
    height: 46px;

    }
    .loginOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
    }
    .loginH3 {
        font-size: 4vmin;
        font-weight: bolder;
        
    }