/* .Folder_box {
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  
}

@keyframes slidein {
    from {
      margin-left: -100%;
      margin-top: -100%;
   }
     to {
      margin-left: 0%;
   }
  }

.navigation-menu {
  display: none;

}

.Icon {
  height: 80%;
  width: 80%;
  color: red;
  position: relative;
  left: 50%;
  transform: translate(-50%, 12.5%);
}

.ButtonContainer_folder {
    animation-duration: .9s;
  animation-name: slidein;
  border-radius: 1.5rem;
  height: 8rem;
  width: 8rem;
  padding: 0.5rem;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  background: rgba(43, 43, 43, 0.418);
  border: 0.01rem solid rgba(162, 162, 162, 0.414);
  position: fixed;
  top: 1.5rem;
  left: 1.5rem;
  backdrop-filter: blur(0.5rem);
}




.FlexRow {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  padding: 2.5%;

  
}

.Button_folder {

  height: 90%;
  width: 30%;

  background-size: cover;
  background-position: center;
  font-size: 1rem;
  font-family: "Fraunces", serif;

  justify-content: space-evenly;
  
}
.Center_folder {
  border-radius: 27%;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  background-size: cover;
  background-position: center;
  background: white;
  padding: 2%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.Zoom {
  transition: transform 0.2s;
}

.Zoom:hover {
  transform: scale(1.2);
}

.OpenFolder {
  position: fixed;
  top: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.5rem;
 height: 35vh;
 width: 35vh;
 padding: 0.5rem;
 display: flex;
 flex-direction: column;
 background: rgba(43, 43, 43, 0.418);
 backdrop-filter: blur(0.5rem);
}

@media screen and (max-height: 500px) {

  .OpenFolder {
    height: 25vw;
    width: 25vw;
    transform: translate(-50%, -70%);
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(51, 51, 51, 0.127);
  backdrop-filter: blur(0.5rem);

} */