.Phone {
    background: linear-gradient(rgb(56, 243, 109),rgb(0, 184, 57));
    color: rgb(255, 255, 255);
}
.Mail {
    background: linear-gradient(rgb(70, 113, 243), rgb(176, 180, 245));
    color: rgb(255, 255, 255);

}
.Message {
    background: linear-gradient(rgb(56, 243, 109),rgb(0, 184, 57));
    color: rgb(255, 255, 255);

}
.Resume {
    background: linear-gradient(rgb(255, 68, 0), rgb(145, 20, 20));
    color: rgb(255, 255, 255);

}
.Github {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    color: rgb(140, 140, 140);

}
.Discord {
    background: radial-gradient(rgb(60, 63, 238), rgb(122, 124, 255));
    color: rgb(255, 255, 255);
}
.Youtube {
    background: white;
    color: rgb(255, 0, 0);
}
.Lotus {
    background: linear-gradient(rgb(60, 60, 60),rgb(0, 0, 0));
    color: rgb(255, 255, 255);
}
.Instagram {
    background: linear-gradient(rgb(249, 249, 249),rgb(243, 243, 243));
    color: rgb(0, 30, 255);
}
.Planner {
    background: linear-gradient(rgb(249, 249, 249),rgb(243, 243, 243));
    color: rgb(255, 0, 0);
}

.Home {
    background: linear-gradient(rgb(28, 46, 101), rgb(112, 114, 151));
    color: rgb(228, 228, 228);
}

.Photos {
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    color: rgb(26, 163, 40);
}
.LinkedIn{
        background: linear-gradient(rgb(95, 127, 255), rgb(68, 87, 255));
        color: rgb(255, 255, 255);

}

.Settings{
    background: linear-gradient(rgb(188, 188, 188), rgb(82, 82, 82));
    color: rgb(3, 3, 3);

}

.Images {
    background: linear-gradient(rgb(154, 255, 95), rgb(255, 1, 1));
    color: rgb(255, 255, 255);
}