.Phone {
    background: linear-gradient(rgb(64, 255, 0), rgb(51, 51, 51));
    color: rgb(255, 255, 255);
}
.Mail {
    background: linear-gradient(rgb(0, 64, 255), rgb(172, 172, 172));
    color: rgb(255, 255, 255);

}
.Message {
    background: linear-gradient(rgb(64, 255, 0), rgb(51, 51, 51));
    color: rgb(255, 255, 255);

}
.Resume {
    background: linear-gradient(rgb(255, 68, 0), rgb(51, 51, 51));
    color: rgb(255, 255, 255);

}
.Github {
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    color: rgb(91, 90, 90);

}
.Discord {
    background: linear-gradient(rgb(3, 7, 253), rgb(173, 173, 173));
    color: rgb(255, 255, 255);
}
.Youtube {
    background: linear-gradient(white,white);
    color: rgb(255, 0, 0);
}
.Lotus {
    background: linear-gradient(rgb(53, 53, 53),rgb(154, 154, 154));
    color: rgb(9, 9, 9);
}
.Planner {
    background: linear-gradient(rgb(249, 249, 249),rgb(243, 243, 243));
    color: rgb(0, 170, 150);
}