.lotusContainer{

    height: 100vmin;
    width: 100vmin;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:50%;
    left: 50%;
transform: translate(-83%,-83%);
scale: .6;



}
.lotusContainer2{

    height: 100vmin;
    width: 100vmin;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:50%;
    left: 50%;
transform: translate(-118%,0%);
scale: .6;
rotate: 45deg;


}
.topLeft2{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    height: 50vmin;
    width: 50vmin;
    border-bottom-left-radius: 70%;
    border-top-right-radius: 70%;
    border: .3vmin solid rgb(91, 82, 68);
    font-size: smaller;
    overflow-wrap: break-word;
}
.topRight2{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    height: 50vmin;
    width: 50vmin;
    border-top-left-radius: 70%;
    border-bottom-right-radius: 70%;
    border: .3vmin solid rgb(91, 82, 68);
}
.bottomLeft2{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    border: .3vmin solid rgb(91, 82, 68);
    height: 50vmin;
    width: 50vmin;
    border-top-left-radius: 70%;
    border-bottom-right-radius: 70%;
}
.bottomRight2{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    height: 50vmin;
    width: 50vmin;
    border-bottom-left-radius: 70%;
    border-top-right-radius: 70%;
    border: .3vmin solid rgb(91, 82, 68);
}
.topLeft:hover{
  
    scale:1.5;
    transform: translate(-15%,-15%);
    background: rgba(255, 255, 255, 0.489);
    color: rgba(255, 255, 255, 0);
}
.topLeft{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    height: 50vmin;
    width: 50vmin;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border: .1vmin solid rgb(0, 0, 0);
    font-size: smaller;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vmin;
    transition: all .5s;
    font-family: cursive;
    font-weight: 600;
}

.topRight:hover{
 
    scale:1.5;
    transform: translate(15%,-15%);
    background: rgba(255, 255, 255, 0.489);
    color: rgba(255, 255, 255, 0);
}
.topRight{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    background-position: (0, -15rem);
    height: 50vmin;
    width: 50vmin;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: .1vmin solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vmin;
    transition: all .5s;
    font-family: cursive;
    font-weight: 600;
}

.bottomLeft:hover{

    scale:1.5;
    transform: translate(-15%,15%);
    background: rgba(255, 255, 255, 0.489);
    color: rgba(255, 255, 255, 0);
}
.bottomLeft{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    background-position: -15rem;
    border: .1vmin solid rgb(0, 0, 0);
    height: 50vmin;
    width: 50vmin;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vmin;
    transition: all .5s;
    font-family: cursive;
    font-weight: 600;
}

.bottomRight:hover {

    scale:1.5;
    transform: translate(15%,15%);
    background: rgba(255, 255, 255, 0.489);
    color: rgba(255, 255, 255, 0);
   
}
.bottomRight{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    background-position: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
    height: 50vmin;
    width: 50vmin;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border: .1vmin solid rgb(0, 0, 0);
    font-size: 6vmin;
    font-weight: 600;
    transition: all .5s;
    font-family: cursive;
 
}

.flowerCenter{
    height: 30vmin;
    line-height: 30vmin;
    transition: all .5s;
    overflow-wrap: break-word;
    font-size: 3.5vmin;
    width: 30vmin;
    border-radius: 50%;
background: url("./abstract-gold-background-20261442.jpg");
    background-size: 35rem;
    position: absolute ;
    top: 50%;
    left:50%;
    border: .2vmin solid rgb(0, 0, 0);
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: cursive;
    font-weight: 600;
    cursor: grab;




   
}
.flowerCenter2{
    height: 20vmin;
    width: 20vmin;
    border-radius: 50%;
    background: whitesmoke;
    position: absolute ;
    top: 50%;
    left:50%;
    border: .2rem solid rgb(255, 255, 255);
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: cursive;


   
}
.container{
    align-content: center;
    justify-content: center;
    display: flex;
    

}
span{
        font-size: 8vmin;
    font-family: cursive;
    position: absolute;
    top: 0;
    left:5vmin;
}

.jobButton{
    font-size: 6vmin;
font-family: cursive;
position: absolute;
bottom: 2vmin;
right:5vmin;
background: rgba(209, 209, 209, 0.764);
padding: 1vmin;
border-radius: 1rem;
z-index: 1000;
}
.lotus2 {
    background: url("./white-marble-texture-natural-pattern-high-resolution-background-design-art-work-white-stone-floor-white-marble-112030128.jpg");
    background-size: 150vmin;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 5rem;
    right: 0;
    border: 5px solid black;
    border-radius: 3rem;
    overflow: hidden;
    visibility: visible;
    scale: 1;
    transition: scale .3s linear;
    z-index: 1000;
   
}

.A4{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.206);
    backdrop-filter: blur(0.5rem);
    padding: 0rem;
    overflow-y: scroll;
    padding-bottom: 5rem;
    padding-top: 3rem;
  }