.lotusContainer{

    height: 100vmin;
    width: 100vmin;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 




}
.lotusContainer2{

    height: 100vmin;
    width: 100vmin;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
rotate: 33.3deg;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; 

}
.topLeft2{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    height: 50vmin;
    width: 50vmin;
    border-bottom-left-radius: 70%;
    border-top-right-radius: 70%;
    border: .3vmin solid rgb(91, 82, 68);
    font-size: smaller;
    overflow-wrap: break-word;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.topRight2{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    height: 50vmin;
    width: 50vmin;
    border-top-left-radius: 70%;
    border-bottom-right-radius: 70%;
    border: .3vmin solid rgb(91, 82, 68);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.bottomLeft2{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    border: .3vmin solid rgb(91, 82, 68);
    height: 50vmin;
    width: 50vmin;
    border-top-left-radius: 70%;
    border-bottom-right-radius: 70%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.bottomRight2{
    background: url("./Lotus.jpg");
    background-size: 10rem;
    height: 50vmin;
    width: 50vmin;
    border-bottom-left-radius: 70%;
    border-top-right-radius: 70%;
    border: .3vmin solid rgb(91, 82, 68);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.topLeft:hover{
  
    scale:1.3;
    transform: translate(-10%,-10%);
    z-index: -100;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 

}
.topLeft{
  z-index: -100;
    background: url("./Lotus.jpg");
    background-size: 10rem;
    height: 50vmin;
    width: 50vmin;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border: .1vmin solid rgb(0, 0, 0);
    font-size: smaller;
    overflow-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vmin;
    transition: all .5s;
    font-family: 'Italiana', serif;
    font-weight: 600;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.topRight:hover{
 
    scale:1.3;
    z-index: -100;
    transform: translate(10%,-10%);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 

}
.topRight{
  z-index: -100;
    background: url("./Lotus.jpg");
    background-size: 10rem;
    background-position: (0, -15rem);
    height: 50vmin;
    width: 50vmin;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: .1vmin solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vmin;
    transition: all .5s;
    font-family: 'Italiana', serif;
    font-weight: 600;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.bottomLeft:hover{

    scale:1.3;
    z-index: -100;
    transform: translate(-10%,10%);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 

}
.bottomLeft{
  z-index: -100;
    background: url("./Lotus.jpg");
    background-size: 10rem;
    background-position: -15rem;
    border: .1vmin solid rgb(0, 0, 0);
    height: 50vmin;
    width: 50vmin;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6vmin;
    transition: all .5s;
    font-family: 'Italiana', serif;
    font-weight: 600;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

.bottomRight:hover {

    scale:1.3;
    z-index: -100;
    transform: translate(10%,10%);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
 
   
}
.bottomRight{
  z-index: -100;
    background: url("./Lotus.jpg");
    background-size: 10rem;
    background-position: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
    height: 50vmin;
    width: 50vmin;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border: .1vmin solid rgb(0, 0, 0);
    font-size: 6vmin;
    font-weight: 600;
    transition: all .5s;
    font-family: 'Italiana', serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
 
}

.flowerCenter{
    height: 30vmin;
    line-height: 30vmin;
    transition: all .5s;
    overflow-wrap: break-word;
    font-size: 3.5vmin;
    width: 30vmin;
    border-radius: 50%;
background: url("./abstract-gold-background-20261442.jpg");
    background-size: 35rem;
    position: absolute ;
    top: 50%;
    left:50%;
    border: .2vmin solid rgb(0, 0, 0);
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 600;
    cursor: grab;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 



   
}
.flowerCenter2{
    height: 20vmin;
    width: 20vmin;
    border-radius: 50%;
    background: whitesmoke;
    position: absolute ;
    top: 50%;
    left:50%;
    border: .2rem solid rgb(255, 255, 255);
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 


   
}
.container{
    align-content: center;
    justify-content: center;
    display: flex;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
    

}
.LotusTitle{
  font-size: 6vmin;
  font-family: 'Italiana', serif;
position: absolute;
top: 5vmin;
left:5vmin;
background: rgba(255, 255, 255, 0.63);
padding: 1vmin;
border-radius: 1rem;
text-decoration: underline;
z-index: 1000;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; 
}

.jobButton{
  text-decoration: underline;
    font-size: 6vmin;
    font-family: 'Italiana', serif;
position: absolute;
bottom: 5vmin;
right:30vmin;
background: rgba(255, 255, 255, 0.63);
padding: 1vmin;
border-radius: 1rem;
z-index: 1000;
-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; 
}
.lotus2 {
    background: url("./white-marble-texture-natural-pattern-high-resolution-background-design-art-work-white-stone-floor-white-marble-112030128.jpg");
    background-size: 150vmin;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0rem;
    right: 0;
    border: 5px solid black;
  
    overflow: hidden;
    visibility: visible;
    scale: 1;
    transition: scale .3s linear;
    z-index: 110;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
   
}
.A3 {
    display: none;
}
.A4{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.206);
    backdrop-filter: blur(0.5rem);
    padding: 0rem;
    overflow-y: scroll;
    padding-bottom: 5rem;
    padding-top: 3rem;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
  }


  .motion{

    align-content: center;
    justify-content: center;
    height: 100vmin;
    width: 100vmin;
    display: flex;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
  }

  .Petal1{
    font-size:3vmin;
text-align: center;
margin-top: 10%;
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
  }
  .Petal2{
    font-size: 3vmin;
text-align: center;
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
  }
  .Petal4{
    font-size: 3vmin;
text-align: center;
margin-top: 10%;
    height: 100%;
    width: 100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
  }