.App {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-items: center;
  background: lightgrey;
}

.ButtonContainer{
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}


.Button {
  align-items: space-evenly;
  border-radius: 1rem;
  border: 1px solid black;
  height: 47vh;
  background-image: url("Lotus.jpg");
  background-size: cover;
  background-position: center;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
}

.Big {
  width: 62vw;
}

.Small {
  width: 32vw;
}