.App {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-items: center;

}

.ButtonContainer{
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background: lightgrey;
}


.Button {
  border-radius: 1rem;
  border: 1px solid black;
  height: 48%;
  background-image: url("Lotus.jpg");
  background-size: cover;
  background-position: center;
  font-size: 1.5rem;
}

.Big {
  width: 60%;
}

.Small {
  width: 35%;
}

@media (max-width: 900px) {
  .Button {
    width: 97%;
    height: 24%;
  }

  .ButtonContainer {
    height: 100%;
  }
}

.ServiceModal {
  height: 95%;
  width: 95%;
  border-radius: 1rem;
}