.App {
  height: 100vh;
  width: 100vw;
}

.Center {
  height: fit-content;
  width: fit-content;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-family: "Fraunces", serif;
}

.Wallpaper {
  height: 100%;
  width: 100%;
  display: flex;
}

.ButtonContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IconDock {
  border-radius: 1.5rem;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  margin: .75rem;
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  backdrop-filter: blur(.5rem);
  display: flex;
  position: fixed;
  bottom: 0;
}

#jobberContainer {
  border-radius: 1rem;
  height: 95%;
  overflow-y: auto;
  background-image: url("./macOS-Graphic-Light.webp");
  width: 100%;
  padding: 3rem;
  background-size: cover;
  background-position: center;
  position: fixed;
  bottom: 0;
}

.Button {
border-radius: 1rem;

  height: 3.75rem;
  width: 3.75rem;
margin-left: .5rem;
margin-right: .5rem;
  background-size: cover;
  background-position: center;
  font-size: 1rem;
  font-family: "Fraunces", serif;
}

@media (prefers-color-scheme: dark) {
  .Wallpaper {
    background-image: url("./macOS-Ventura-wallpaper-1-1.webp");
    background-size: cover;
    background-position: center;
  }
  .Center {
    color: rgba(245, 245, 245, 0.765);
  }
  .IconDock {
    background: rgba(43, 43, 43, 0.418);
    border: .01rem solid rgba(162, 162, 162, 0.414);
  }
}

@media (prefers-color-scheme: light) {
  .Wallpaper {
    background-image: url("./macOS-Graphic-Light.webp");
    background-size: cover;
    background-position: center;
  }
.Center {
  color: rgba(0, 0, 0, 0.824);
}
.IconDock {
  background: rgba(255, 255, 255, 0.444);
  border: .01rem solid rgba(124, 124, 124, 0.4);
}
}

@media screen and (max-height: 400px) {

  .IconDock {
    border: 0;
  }
  
    .Button {
      width: 3.5rem;
      height: 3.5rem;
    }
    .Center {
      font-size: .75rem;
    }
    #jobberContainer {
      padding: 1rem;
    }
  }

@media screen and (max-width: 400px) {
.IconDock {
  border: 0;
}

  .Button {
    width: 3.5rem;
    height: 3.5rem;
  }
  .Center {
    font-size: .75rem;
  }
  #jobberContainer {
    padding: 1rem;
  }
}

@supports(padding:max(0px)) {
  body, header, footer {
      padding-left: min(0vmin, env(safe-area-inset-left));
      padding-right: min(0vmin, env(safe-area-inset-right));
  }
}


html,
body,
#root {
  height: 100%;
}
