.App {
  height: 100%;
  width: 100%;
}

.ButtonContainer{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  padding: 2rem;

}

.Button {
  border-radius: 1rem;
  border: 2px solid black;
  height: 48%;
  background-size: cover;
  background-position: center;
  font-size: 2rem;
  font-family: 'Fraunces', serif;
}

.Big {
  width: 55%;
}

.Small {
  width: 40%;
}

@media (prefers-color-scheme: dark) {
  .ButtonContainer {
    background-image: url("./black-carbon-fiber-texture-background_1017-23625.jpg");
  }
  .Button {
    color: black;
  }
}

@media (prefers-color-scheme: light) {
  .ButtonContainer {
    background-image: url("./beautiful-golden-glittering-background-decoration-backdrop-merry-christmas-holiday-gold-abstract-texture_482257-33028.jpg");
  }
  .Button {
    color: white;
  }
}

@media (orientation: landscape) and (max-width: 700px) {
  .ButtonContainer {
   padding: 1rem;
  }
  .Button {
    font-size: 1.5rem;
  }
}

@media (orientation: portrait) and (max-width: 600px) {
  .Button {
    width: 95%;
    height: 23%;
    font-size: 1.8rem;
  }

  .ButtonContainer {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 0;
    padding-top: 1rem;

  }
  #jobberContainer {
    padding: 0rem;
  }
}

@media (min-width: 600px) {

  #jobberContainer {
    padding: 4rem;
  }
}

#jobberContainer {
  border-radius: 1rem;
  height: 100%;
  overflow-y: auto;
  background-image: url("./beautiful-golden-glittering-background-decoration-backdrop-merry-christmas-holiday-gold-abstract-texture_482257-33028.jpg");
}

html,
body,
#root {
  height: 100%;
}