.App {
  min-height: -webkit-fill-available;
  height: 100%;
  width: 100%;
  position: fixed;
}


.Center {
  height: fit-content;
  width: fit-content;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-family: "Fraunces", serif;
}

.ButtonContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IconDock {
  border-radius: 1.5rem;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  margin: .75rem;
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;

  display: flex;
  position: fixed;
  bottom: 0;
}

.Button {

  border-radius: 1rem;
  border: 2px solid black;
  height: 4rem;
  width: 4rem;
margin-left: .5rem;
margin-right: .5rem;
  background-size: cover;
  background-position: center;
  font-size: 1rem;
  font-family: "Fraunces", serif;
}

@media (prefers-color-scheme: dark) {
  .ButtonContainer {
    background-image: url("./macOS-Graphic-Dark.webp");
    background-size: cover;
    background-position: center;
  }
  .Center {
    color: whitesmoke;
  }
  .IconDock {
    background: rgba(0, 0, 0, 0.418);
  }
}

@media (prefers-color-scheme: light) {
  .ButtonContainer {
    background-image: url("./macOS-Graphic-Light.webp");
    background-size: cover;
    background-position: center;
  }
.Center {
  color: black;
}
.IconDock {
  background: rgba(255, 255, 255, 0.518);
}
}

@media screen and (max-width: 400px) {
  .Button {
    width: 3.5rem;
    height: 3.5rem;
  }
  .Center {
    font-size: .75rem;
  }
}

@supports(padding:max(0px)) {
  body, header, footer {
      padding-left: min(0vmin, env(safe-area-inset-left));
      padding-right: min(0vmin, env(safe-area-inset-right));
  }
}

#jobberContainer {
  border-radius: 1rem;
  height: 95%;
  overflow-y: auto;
  background-image: url("./macOS-Graphic-Light.webp");
  width: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  bottom: 0;


}


html,
body,
#root {
  height: 100%;
}
