.App {
  height: 100vh;
  width: 100vw;
}

#backButton {
  display: none;
  border-radius: 1rem;
  height: 100%;
  width: 100%;
  background-image: url("../public/Lotus.jpg");
  background-size: contain;
  background-position: center;
font-size: 1.8rem;
font-family: 'Fraunces', serif;
}
#backButtonContainer {
  display: none;
  height: 100%;
  width: 100%;
background: lightgray;
}

.ButtonContainer{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;

}

.Button {
  border-radius: 1rem;
  border: 2px solid black;
  height: 45%;
  background-size: cover;
  background-position: center;
  font-size: 1.8rem;
  font-family: 'Fraunces', serif;
}

.Big {
  width: 55%;
}

.Small {
  width: 35%;
}

@media (prefers-color-scheme: dark) {
  .ButtonContainer {
    background: repeating-linear-gradient(rgb(70, 70, 70), rgb(0, 0, 0));
  }
}

@media (prefers-color-scheme: light) {
  .ButtonContainer {
    background: repeating-linear-gradient(rgb(202, 202, 202), rgb(146, 146, 146));
  }
}

@media (orientation: portrait) and (max-width: 700px) {
  .Button {
    width: 95%;
    height: 23%;
  }

  .ButtonContainer {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
}

.JobberForm {


background: blue;


}

#jobberContainer {
  display: none;
  border-radius: 1rem;
  margin: 3rem;
  background: red;

}
