.App {
  background-image: url("Lotus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  background: white;
  border-radius: 50%;
  padding: 3vmin;
  border: 1vmin solid black;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}