.App {
  height: 100%;
  width: 100%;
}

.Center {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-family: "Fraunces", serif;
}

.ButtonContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IconDock {
  background: rgba(220, 220, 220, 0.448);
  border-radius: 1.5rem;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  margin: 1rem;
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  display: flex;
  position: fixed;
  bottom: 0;
}

.Button {
  border-radius: 1rem;
  border: 2px solid black;
  height: 5rem;
  width: 5rem;
margin-left: .5rem;
margin-right: .5rem;
  background-size: cover;
  background-position: center;
  font-size: 1rem;
  font-family: "Fraunces", serif;
}

@media (prefers-color-scheme: dark) {
  .ButtonContainer {
    background-image: url("./macOS-Graphic-Light.webp");
  }
  .Button {
    color: black;
  }
}

@media (prefers-color-scheme: light) {
  .ButtonContainer {
    background-image: url("./macOS-Graphic-Light.webp");
    background-size: cover;
    background-position: center;
  }
  .Button {
    color: black;
  }
}

#jobberContainer {
  border-radius: 1rem;
  height: 95%;
  overflow-y: auto;
  background-image: url("./macOS-Graphic-Light.webp");
  width: 100%;
  background-size: cover;
  background-position: center;
  position: fixed;
  bottom: 0;

}


html,
body,
#root {
  height: 100%;
}
