.App {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-items: center;

}

.ButtonContainer{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(rgb(202, 202, 202), rgb(146, 146, 146));
}

.Button {
  border-radius: 1rem;
  border: 2px solid black;
  height: 45%;
  background-size: cover;
  background-position: center;
  font-size: 1.8rem;
  font-family: 'Fraunces', serif;
}

.Big {
  width: 55%;
}

.Small {
  width: 35%;
}

@media (orientation: portrait) {
  .Button {
    width: 96%;
    height: 23%;
  }

  .ButtonContainer {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
}
