.ContainerDock {
  position: fixed;
  bottom: 4vmin;
display: flex;
flex-direction: row;
  height: fit-content;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-bottom: .5rem;
  padding-top: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0%);
  backdrop-filter: blur(0.5rem);

  border-radius: 1.5rem;
  background: rgba(43, 43, 43, 0.418);
  border: 0.01rem solid rgba(162, 162, 162, 0.414);
}
.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 1rem;
}
.LabelHide {
  display: none;
}

.Hide {
position: relative;
  height: 6rem;
  width: 6rem;
  padding: .25rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
margin: 1rem;
  
  background: rgba(43, 43, 43, 0.418);
  border: 0.01rem solid rgba(162, 162, 162, 0.414);
  backdrop-filter: blur(0.5rem);
  z-index: 1000;
}

.Show {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 20rem;
  width: 20rem;
  padding: .75rem;
  border-radius: 2rem;

  
  background: rgba(43, 43, 43, 0.418);
  border: 0.01rem solid rgba(162, 162, 162, 0.414);
  backdrop-filter: blur(0.5rem);
  z-index: 1000;
  

  
}

.buttons2 {
  height: 5rem;
  width: 4rem;
  background: rgba(255, 255, 255, 0);
  align-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10%;

  justify-items: center;
}

.buttons1 {
  height: 6.2rem;
  width: 5.5rem;
  background: rgba(254, 6, 6, 0);

  align-self: center;

  position: relative;
  align-content: center;
  justify-items: center;
}
.buttons {
  height: 1.75rem;
  width: 1.75rem;
  background: rgba(255, 255, 255, 0);
  align-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10%;

  justify-items: center;
}
.Spacing {
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
  justify-self: center;
}
.Icons2 {
  border-radius: 25%;
width: 3.5rem;
 height: 3.5rem;
  align-self: center;
  justify-self: center;

  justify-items: center;
  position: relative;
  font-size: 2rem;


  z-index: 1;
}

.Icons1 {
  border-radius: 25%;
 min-width: 4.5rem;
  min-height: 4.5rem;
  align-self: center;
  justify-self: center;

  justify-items: center;
  position: relative;
  font-size: 2.5rem;


  z-index: 1;
}
.Icons {
  border-radius: 25%;
 min-width: 1.5rem;
  min-height: 1.5rem;
  align-self: center;
  justify-self: center;
  align-items: flex-start;
  justify-items: center;
  position: relative;
  font-size: .65rem;
  z-index: 1;
}
.folderOverlay {
height: fit-content;
width: fit-content;
}
.foClass{

  height: fit-content;
  width: fit-content;
width: min-content;

}
.buttonLabel1 {
  height: 0.7vmin;
  font-size: .75rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12%;
  z-index: 1000;
}

.buttonLabel {
  height: 0.7vmin;
  font-size: .25rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -12%;
  z-index: 1000;
}

.Overlay {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1rem);
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 0;
background-color: rgba(66, 66, 66, 0.093);
  z-index: 100;
}

@media (prefers-color-scheme: dark) {
  .App {
    background-image: url("../src/images/macOS-Ventura-wallpaper-1-1.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }
  .ContainerFolder,
  .ContainerDock {
    background: rgba(43, 43, 43, 0.418);
    border: 0.01rem solid rgba(162, 162, 162, 0.414);
  }
  .buttonLabel {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .App {
    background-image: url("../src/images/macOS-Graphic-Light.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }
  .Show,
  .ContainerDock,
  .Hide {
    background: rgba(232, 232, 232, 0.378);
    border: 0.01rem solid rgba(162, 162, 162, 0.414);
  }
  .buttonLabel {
    color: black;
  }
}

.Clock {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, 0.421);
  border-radius: 1rem;
  padding: 1vmin;
  backdrop-filter: blur(0.5rem);
}

.ClockBanner {
  height: 3%;
  width: 100vmax;
}
.UnderBannner {
  display: flex;
  flex-direction: row;
}

html {
  height: 100vh;
  width: 100vw;
}

.folders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.taskmanager {
  background: white;
  z-index: 10;
}

.login{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;
  background: white;
}