.climbingContainer{
    height: 300vh;
    width: 100vw;
z-index: 10;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(.5rem);
    pointer-events: none;
}


.live{
    height: 100px;
margin:0;


    float: left;
    opacity: 1;
    visibility: visible;
    transition: opacity 2s linear;
    pointer-events:fill;
}
.rowContainerHide{
    height: 15px;
   aspect-ratio: 1/1;
opacity: 1;
visibility: hidden;

}
.handHoldContainer{
    height: 15px;
    aspect-ratio: 1/1;
   
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}



  .handHold{
    position: relative;
    height: 100px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    top: 0px;


    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.668);
   
  }
  .handHold2{
    position: relative;
height: 150px;
opacity: 0;
transform: translate(100px,-500px);
    border-radius: 50%;
    aspect-ratio: 1/1;
    box-shadow: 0px 200px 20px rgba(0, 0, 0, 0.668);
   
   


    transition: all 1.5s;
  
   
  }
.die{
    display: none
}
.GameBack{
position: fixed;
bottom: 1rem;
left: 50%;
transform: translate(-50%,0);
height: 5rem;
width: 15rem;
border: 2px solid black;
border-radius: 2rem;
background: rgba(255, 255, 255, 0.393);
z-index: 1000;
font-family: italiana;
font-size: 8vmin;
line-height: 8vmin;
font-weight: 1000;
}