.climbingContainer{
    height: 300vh;
    width: 100vw;
z-index: 100;
    display: flex;
    flex-direction: column;
    background: white;
    pointer-events: none;
}
.wrapper{
    background: rgb(211, 211, 211);
}

.live{
    height: 100px;
margin:0;

backdrop-filter: blur(.5rem);
    float: left;
    opacity: 1;
    visibility: visible;
    transition: opacity 2s linear;
    pointer-events:fill;
}
.rowContainerHide{
    height: 15px;
   aspect-ratio: 1/1;
opacity: 1;
visibility: hidden;

}
.handHoldContainer{
    height: 15px;
    aspect-ratio: 1/1;
   
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}



  .handHold{
    position: relative;
    height: 100px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    top: 0px;
scale: 1;
    left: xP + px;
    box-shadow: 5px 5px 5px rgba(66, 66, 66, 0.668);
   
  }
  .handHold2{
    position: relative;
    scale: .5;
    border-radius: 50%;
    aspect-ratio: 1/1;
    top: -5000px;
   
    opacity:1;
background: radial-gradient(rgb(241, 232, 232), rgb(221, 189, 189));
    transition: all 0.5s;
  
   
  }
.die{
    display: none
}
.GameBack{
position: fixed;
bottom: 2.5rem;
left: 50%;
transform: translate(-50%,0);
height: 10vmin;
width: 35vmin;
border-radius: 2rem;
background: rgba(255, 255, 255, 0.804);
z-index: 1000;
font-family: italiana;
font-size: 8vmin;
line-height: 8vmin;
font-weight: 1000;
}